@import 'tailwindcss/dist/tailwind.css';

.stripe-yellow {
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      transparent, 
      transparent .2rem,
      #fcba03 .2rem,
      #fcba03 .4rem
    );
  background-size: 200% 200%;
  animation: barberpole 1s linear infinite;
}

.stripe-green {
  background-image: 
    repeating-linear-gradient(
      -45deg, 
      transparent, 
      transparent .2rem,
      #059668dd .2rem,
      #059668dd .4rem
    );
  background-size: 200% 200%;
  animation: barberpole 1s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
